.footdiv {
  height: 250px;
  width: 100%;
  background-color: #353535;

  a {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
  }

  li {
    padding-top: 4px;
  
  a
  {
    i
    {
      margin-right:8px;
    }
  }}

  ul {
    list-style-type: none;
    margin-top: 0px;
  }

  img {
    max-width: 200px;
    height: auto;
    margin-top: 30px;
    filter: invert(1);
  }
}
